{% extends "layout.html" %}
{% block title %}: {{ethics_agreement_page_title}}{% endblock %}
{% block content %}
<div>
    {% if google_doc %}
        <div class="full-height-iframe">
            <iframe title="Ethics agreement" style="height:100%;width:100%;" scrolling="yes" class="embed-responsive" src="{{ ethics_agreement_link }}"></iframe>
        </div>
    {% else %}
        {% if fragment %}
            <div class="inner-page">
                {{ html_string|safe }}
            </div>
        {% else %}
            <div class="full-height-iframe">
                <iframe title="Ethics agreement" style="height:100%;width:100%;" scrolling="yes" class="embed-responsive" srcdoc="{{ html_string }}"></iframe>
            </div>
        {% endif %}
    {% endif %}
    <div class="text-center">
        <a class="btn btn-primary" href="{{ url_for('.user_registration') }}">{{ethics_agreement_back_button}}</a>
    </div>
</div>
{% endblock %}
