{% extends "layout.html" %}
{% block title %}: {{item_preference_page_title}}{% endblock %}
{% block content %}
<div class="container-narrow text-center p-4">
  <form method="POST" id="item-selection-form" aria-labelledby="instructions">
    <span id="instructions" class="fs-4">{{item_selection_question}}&nbsp;<span class="fw-bold">{{ item.display_name }}</span>?</span>
    <div class="col-xl-12 p-4 text-center">
      <img id="left-image" src= {{ url_for('static', filename = 'images/' + item.image_path|string) }} class="img-fluid pt-2" style="width:100%;max-width:600px; height:100%;max-height:600px;" alt="A geographical image of {{ item.display_name }}">
    </div>
    <div class="p-2">
      <div class="form-group">
        <input type="hidden" id="item-id" name="item_id" value="{{item.item_id}}">
        <button id="agree-button" type="submit" name='action' value='agree' style="width:200px;margin:5px" class="btn btn-success btn-lg submit">{{item_selection_answer_yes}}</button>
        <button id="disagree-button" type="submit" name='action' value='disagree' style="min-width:200px;margin:5px" class="btn btn-danger btn-lg submit">{{item_selection_answer_no}}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
