<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="data:">

    <title>{{ website_title }}{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-style.css') }}">
    {% block css %}
    {% endblock %}

  </head>

  <body>
    {% if render_cookie_banner %}
      <section id="cookie-message"></section>
    {% endif %}
    <nav class="navbar navbar-expand-md p-2 mb-2 fs-5" style="background-color: lightgray">
      <a class="visually-hidden-focusable rounded-2 p-1 bg-white" href="#main">Skip to main content</a>
      <a class="navbar-brand focus-ring p-1" href="/">{{ website_title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav ms-md-auto">
          {% if render_user_instructions %}
            <li class="nav-item">
              <a class="nav-link focus-ring mx-2" href="{{ url_for('views.introduction') }}">{{introduction_page_title}}</a>
            </li>
          {% endif %}
          {% if render_user_ethics_agreement %}
            <li class="nav-item">
              <a class="nav-link focus-ring mx-2" href="{{ url_for('views.ethics_agreement') }}">{{ethics_agreement_page_title}}</a>
            </li>
          {% endif %}
          {% if render_site_policies %}
            <li class="nav-item">
              <a class="nav-link focus-ring mx-2" href="{{ url_for('views.policies') }}">{{policies_page_title}}</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link focus-ring ml-2" href="{{ url_for('views.logout') }}">{{logout_page_title}}</a>
          </li>
        </ul>
      </div>
    </nav>

    <main id="main">
      <div id="content">{% block content %}{% endblock %}</div>
    </main>
    <footer>
      
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/src/iframe-change.js') }}"></script>
    <script src="{{ url_for('static', filename='js/src/user-registry-validation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/src/rank-control.js') }}"></script>
    <script src="{{ url_for('static', filename='js/src/prevent-double-click.js') }}"></script>
    {% if render_cookie_banner %}
      <script>
        function getCookie(name) {
            // Convert cookies string to list
            var c_list = document.cookie.split("; "),
                i = 0,
                c,
                c_name,
                c_value;
            // Loop through cookies list to find a match
            for (i = 0; i < c_list.length; i++) {
                // Find cookie
                c = c_list[i].split('=');
                c_name = c[0];
                c_value = c[1];
                // Return cookie value if cookie name matches
                if (c_name === name) {
                    return c_value;
                }
            }
            // If no cookie found with given name, return null
            return null;
        }


        // Show a message about cookies to user if they have not yet agreed

        document.cookie = '';

        // If user hasn't yet agreed to cookies
        if (getCookie('cookieMessageApprove') !== '1') {

            // Generate HTML message
            var html_to_inject = '\
        <div id="cookie-message-popup" style="text-align: center; background: #343a40; padding: 1em; color: white;">\
          <div id="cookie-title">{{site_cookies_title}}</div>\
        {{site_cookies_text|safe}}<button id="cookie-message-popup-accept" style="display: inline-block; background: white; color: black; padding: 0.4em 1.7em; margin-left: 1em; cursor: pointer; vertical-align: middle;">{{site_cookies_accept_button_label}}</button>\
        </div>';

            // Add the HTML message to the page

            document.getElementById('cookie-message').innerHTML += html_to_inject;
            document.getElementById('cookie-message').setAttribute('aria-labelledby', 'cookie-title');
        }

        // Add event listener for 'accept' button to set the cookie and hide the message
        try {
            document.getElementById("cookie-message-popup-accept").addEventListener("click", function () {
                document.cookie = "cookieMessageApprove=1; expires=Mon, 31 Dec 2040 23:59:59 GMT; path=/; Secure;";
                document.getElementById("cookie-message-popup").style.display = "none";
            });
        } catch (ignore) {
            // Ignore error, as it's expected to fail when user has already approved (as cookie popup won't show)
        }
      </script>
      {% endif %}
    {% block js %}{% endblock %}
  </body>
</html>
