<div class="row mb-3" role="group" aria-labelledby="{{name}}-label">
  <div id="{{name}}-label" for="{{name}}-radio" class="col-4 col-form-label">{{displayName}}</div>
  <div id="{{name}}-radio" class="col-8" role="radiogroup" aria-label="{{displayName}}">
    {% for value in option %}
      <label class="form-check-label" for="{{name}}-choice-{{loop.index}}">
        <span class="visually-hidden">{{name}} </span>
        <input id="{{name}}-choice-{{loop.index}}" class="form-check-input" type="radio" name="{{name}}" value="{{value}}" {% if required == 'true' %}required{% else %}{% endif %}> {{value}}
      </label>
    {% endfor %}
    </div>
</div>