.full-height-iframe {
    height: 85vh;
    overflow: auto;
    scroll-behavior: auto;
}

.inner-page {
    height: 85vh;
    overflow: auto;
    scroll-behavior: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.doc-content {
    margin: 0 auto;
    padding: 40pt 15pt !important;
}

.selected-hint {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
}

.selected-item {
    border-style: solid;
    border-width: 10px;
    border-color: green;
    color: green;
    opacity: 0.6;
}

.selection-tied {
    border-style: solid;
    border-width: 10px;
    border-color: blue;
    color: blue;
    opacity: 0.6;
}

.selection-skipped {
    border-style: solid;
    border-width: 10px;
    border-color: black;
    color: black;
    opacity: 0.6;
}

.img-constraint {
    width: 80%;
    max-width: 600px;
    height: 80%;
    max-height: 600px;
    min-width: 300px;
    min-height: 300px;
}

.btn-primary {
    background: #046DDE;
    border-color: #046DDE;
}

.btn-success {
    background: #00851E;
    border-color: #00851E;
}

a {
    color: #046DDE;
}
